{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img class="rounded" src="../../media/images/avatar.png" style="height: 100; width: 100; float: left;">
        <h1 style="position: relative;" class="display-3">Hello, I'm Greg LaFauci</h1>
        <a href="https://github.com/GregLaFauci"><i class="fa fa-github" style="font-size:26px; padding: 2%;"></i></a>
        <a href="https://www.linkedin.com/in/greglafauci"><i class="fa fa-linkedin" style="font-size:26px; padding: 2%;"></i></a>
        
    </div>
</div>


<div class="col-md-8 offset-md-2">
    <h1>Projects</h1>
    <hr>
    <!-- <div class="row mb-2"> -->
        <ul class="list-unstyled">
            {% for post in posts %}
            <li class="media">
                <a href="{{post.projectPage.url}}"><img src="{{post.cover.url}}" height="200" width="200" alt="{{post.title}}"></a>
            
                <a href="{% url 'blog_detail' post.pk%}">
                    <div class="media-body" style="min-height: 400px;">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <small>
                        {{ post.created_on.date }} |&nbsp;
                        Categories:&nbsp;
                        {% for category in post.categories.all %}
                        <a href="{% url 'blog_category' category.name %}">
                            {{ category.name }}
                        </a>&nbsp;
                        {% endfor %}
                    </small>
                    <p>{{ post.body }}</p>
                    <!-- <p>{{ post.body | slice:":200" }}...</p> -->
                    </div>
                </a>

                
            </li>
            {% endfor %}


        </ul>
        

        
        
    </br>
</br>
</hr>
        
        
    
    
</div>
</br>
<hr>
</br>

{% endblock %}